.album-card {
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    background-color: #202020;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px; 
    position: relative;
    margin: 5px;
}

.album-card_title {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.3px;
    word-spacing: 0.4px;
    color: white;
    margin-top: 18px;
    text-transform: capitalize;
    text-align: center;
    height: 40px;
}

.album-card_description-div {
    width: 100%; 
    text-align: left; 
    margin-top: 10px;
}

.album-card_description{
    font-size: 12px;
    color: grey;
    margin-top: 10px;
}

.album-card_thumbnail {
    position: relative; 
    width: 200px;       
    height: auto;
}

.album-card_thumbnail img {
display: block;
width: 100%;
height: auto;
}
  
.album-card_discover-button {
    position: absolute;
    bottom: 25px;
    background-color: #1ED760;
    border-radius: 25px;
    width: 75%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.album-card_discover-button a {
    color: black;
    font-size: 14px;
    font-weight: bold;
}
 

.album-card_discover-button:hover {
    background-color: #7cd69c;
}

.description-separator {
    border: none;
    border-top: 1px solid #1ED760;
    margin: 2px 0; 
    width: 100%;
}

