<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="submit()">
        <div class="login_container">
            <img src="assets/spotify_green.png" width="300">
            <hr>
            <div>
                <label><strong>Username </strong></label> <br />
                <input type="text" placeholder="Username" [formControl]="usernameFormControl"/>
            </div>
            <div>
                <label><strong>Password</strong></label> <br />
                <input type="password" placeholder="Password" [formControl]="passwordFormControl"/> <br />
                <label class="mt-4"><a [style.textDecoration]="'underline'">Forgot your Password?</a></label>
            </div>
            
            <div class="action_buttons"> 
                <span 
                [style.display]="'flex'" 
                [style.justifyContent]="'flex-start'"
                [style.alignItems]="'stretch'"
                [style.gap]="'5px'">
                    <input type="checkbox" id="remember_me">
                    <label for="remember_me">
                        <span><strong>Remeber me</strong></span>
                    </label>
                </span>
                <div><button class="login_button">LOG IN</button></div>
            </div>
    
            <!--Dont have an account section-->
            <hr [style.width]="'35%'">
            <h5>Don't have an account?</h5>
            <button class="signup_button" [style.width]="'30%'">SIGN UP</button>
        </div>
    </form>
</div>

