.song-card {
    height: 450px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.song-card_title {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.3px;
    word-spacing: 0.4px;
    color: white;
    margin-top: 18px;
    text-transform: capitalize;
    text-align: center;
    height: 40px;
}

.song-card_description-artist {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.3px;
    word-spacing: 0.4px;
    color: grey;
    margin-top: 18px;
    text-align: left;
}

.song-card_description-album {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.3px;
    word-spacing: 0.4px;
    color: grey;
    margin-top: 10px;
    margin-bottom: 18px;
    text-align: left;
}

.song-card_thumbnail {
    background-color: rgba(0, 0, 0, 0.24);
    padding: 20px;
    border-radius: 12px;
    margin-top: 15px;
    width: 150px;
    height: 150px;
}

.song-card_play-button {
    background-color: #1ED760;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-bottom: 18px;
}

.song-card_play-button:hover {
    background-color: #7cd69c;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}
