<div class="song-card">
    <div class="song-card_title">{{title || 'Titel nicht verfügbar'}}</div>
    
    <div class="song-card_thumbnail">
      <img [src]="coverUrl" alt="thumbnail">
    </div>
    
    <div class="song-card_description">
        <div class="song-card_description-artist">{{artist || 'Artist nicht verfügbar'}}</div>
        <hr class="description-separator">
        <div class="song-card_description-album">{{album || 'Album nicht verfügbar'}}</div>
        <hr class="description-separator">
        <div class="song-card_description-release">{{release || 'Veröffentlichung nicht verfügbar'}}</div>
        <hr class="description-separator">
        <div class="song-card_description-release">{{genre || 'Genre nicht verfügbar'}}</div>
        <hr class="description-separator">
    </div>

    <div class="song-card_play-button" (click)="playThisSong()">
        <svg width="55" height="50" viewBox="0 0 16 16">
            <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
        </svg>
    </div>
</div>


