<div class="album-cards-container">
    <h4 [style.color]="'white'" [style.padding]="'10px'">Albums</h4>
    <div class="playlist_card_collections" >
        <div id="album_card_item" *ngFor="let album of visibleAlbums">
            <app-album-card 
            [title]="album.name"
            [artist]="album.artistName"
            [release]="album.releaseDate"
            [coverUrl]="album.coverUrl"/>
        </div>
    </div>
    <div class="buttons-container">
        <button (click)="showLess()" [disabled]="visibleCount <= step">
          <i class="arrow left"></i> Weniger
        </button>
        <button (click)="showMore()" [disabled]="visibleCount >= opensearchService.songs.length">
          Mehr <i class="arrow right"></i>
        </button>
      </div>
</div>
