<div class="home-container row">
    

    <div class="home-container_side-bar col-2">
        <!--Logo-->
        <div class="home-container_side-bar-item">
            <img width="150" class="m-3 text-left" src="assets/spotify_light.png" alt="spotify light logo">
        </div>
        <!--Home Screen-->
        <div class="home-container_side-bar-item" (click)="onNavigate('home')">
            <a>Home</a>
        </div>
        <!--Search-->
        <div class="home-container_side-bar-item" (click)="onNavigate('search')">
            <a>Search</a>
        </div>
        <!--Own Library-->
        <div class="home-container_side-bar-item" (click)="onNavigate('library')">
            <a>Your Library</a>
        </div>

        <!--div class="button" (click)="onTestClick()">
            <h1>Song hinzufügen</h1> 
        </div-->

        <!--img src="https://d3rt1990lpmkn.cloudfront.net/cover/d45aa25bbd45872c0b1e97223af57fe94588820a"-->
    </div>
    
    <div class="home-container_playlist-container col-10">
        
        <div class="top-nav-container_div">
            <app-top-nav></app-top-nav>
        </div>
        

        <div class="song-card-container_div">
            <app-song-card-container></app-song-card-container>
        </div>
        

        <!--<div [style.padding]="'90px'" class="static">
            <app-playbar></app-playbar>
        </div> -->
    </div>

    

</div>

 